#board {
    padding-top: 3em;
    text-align: center;
    font-family: monospace;
}

div.row > div {
    cursor: pointer;
    float: left;
    height: 100px;
    width: 100px;
    font-size: 75px;
    line-height: 100px;
}

.row {
    
    margin: 0 auto;
    clear: both;
    width: 302px;
}

.heading {
    text-align: center;
}

.top {
    border-bottom: 1px black solid;
}

.bottom {
    border-top: 1px black solid;
}
.left {
    border-right: 1px black solid;
}
.right {
    border-left: 1px black solid;
}